    <nav class="nav-bottom rounded" id="h_nav_tab">
          <div class="container-fluid" >
              <ul class="navbar-nav rounded" style="background-color:#4c72a130;">
            <li class="nav-item{% if page == 'case' %} active{% endif %}">
                <a class="nav-link" href="/case?cid={{session['current_case'].case_id}}">
                    <span class="menu-title">Summary</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/case/notes?cid={{session['current_case'].case_id}}">
                    <span class="menu-title">Notes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/case/assets?cid={{session['current_case'].case_id}}">
                    <span class="menu-title">Assets</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/case/ioc?cid={{session['current_case'].case_id}}">
                    <span class="menu-title">IOC</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/case/timeline?cid={{session['current_case'].case_id}}">
                    <span class="menu-title">Timeline</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/case/graph?cid={{session['current_case'].case_id}}">
                    <span class="menu-title">Graph</span>
                </a>
            </li>
            <li class="nav-item{% if page == 'tasks' %} active{% endif %}">
                <a class="nav-link" href="/case/tasks?cid={{session['current_case'].case_id}}">
                    <span class="menu-title">Tasks</span>
                </a>
            </li>
            <li class="nav-item{% if page == 'dcoe_reports' %} active{% endif %}">
                <a class="nav-link" href="/case/dcoe/reports?cid={{session['current_case'].case_id}}">
                    <span class="menu-title">Reports</span>
                </a>
            </li>
            <li class="nav-item{% if page == 'dcoe_network' %} active{% endif %}">
                <a class="nav-link" href="/case/dcoe/network?cid={{session['current_case'].case_id}}">
                    <span class="menu-title">Network</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/case/evidences?cid={{session['current_case'].case_id}}">
                    <span class="menu-title">Evidence</span>
                </a>
            </li>
              </ul>
          </div>
</nav>



